[Server]
ALLOWED_IPS = 10.1.1.0/24, 10.1.40.24

[Agent]
BIND_IP = 0.0.0.0
PORT = 9703

[Host]
HOSTNAME = Openhubble Agent Server

[API]
API_KEY = set_any_api_key_you_want

[Survey]
SURVEY_URL = http://survey:3001
ACCESS_TOKEN = user_access_token_here_from_api
HOST_TOKEN = host_specific_token_here_from_api