[Unit]
Description=Amir Monitoring Agent
After=network.target

[Service]
User=root
WorkingDirectory=/apps/agent
ExecStart=/apps/agent/.venv/bin/python3 /apps/agent/wsgi.py
Restart=always
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
