[Unit]
Description=Amir Monitoring Agent
After=network.target

[Service]
User=root
WorkingDirectory=/opt/agent
ExecStart=/opt/agent/.venv/bin/python3 /opt/agent/wsgi.py
Restart=always
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
